# -------------------------------
# Python Bytecode & Cache
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
.venv/
.env/

# -------------------------------
# Environment Variables
# -------------------------------
*.env

# -------------------------------
# Logs
# -------------------------------
logs/*.log
logs/**/*.log

# -------------------------------
# SQLite Database
# -------------------------------
db/*.sqlite3

# -------------------------------
# VSCode / PyCharm IDE Settings
# -------------------------------
.vscode/
.idea/

# -------------------------------
# macOS System Files
# -------------------------------
.DS_Store